<div id="myCarousel" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
        <li data-target="#myCarousel" data-slide-to="4" class=""></li>
        <li data-target="#myCarousel" data-slide-to="5" class=""></li>
        <li data-target="#myCarousel" data-slide-to="6" class=""></li>
        <li data-target="#myCarousel" data-slide-to="7" class=""></li>
        <li data-target="#myCarousel" data-slide-to="8" class=""></li>
        <li data-target="#myCarousel" data-slide-to="9" class=""></li>
        <li data-target="#myCarousel" data-slide-to="10" class=""></li>
        <li data-target="#myCarousel" data-slide-to="11" class=""></li>
        <li data-target="#myCarousel" data-slide-to="12" class=""></li>        
      </ol>
      <div class="carousel-inner">
        <!--从这复制 -->
        <div class="item active">
          <div style="height: 100%;"><img src="./img/1.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>Yes,we do!</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->
        
        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/2.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>鬼灵精怪的小舟舟</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->
        
        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/3.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>从未想到穿上球衣如此般配</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->
        
        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/4.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>厦门，大海，舟舟，我</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->
        
                
        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/5.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>平遥古城一起感受静谧的幸福</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->
        
        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/6.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>42.195这串数字肯定会伴随我们一生</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->
        
        
        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/7.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>无论是雾霾的北京，还是美丽的厦门，我们都在一起</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->
        
        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/8.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>和小舟舟在一起，永远是那么欢乐幸福</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->
        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/9.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>和君七届，精彩，我们一起走过</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->
        
        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/10.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>我们的故事，一直于熊有关</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->

        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/11.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>想念熊都结婚了，我们还等什么</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->

        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/12.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>“半夏”是我们共同拥有的幸福，这里是郑重的求婚与承诺</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->

      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->
