<div id="myCarousel" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
        <li data-target="#myCarousel" data-slide-to="4" class=""></li>
        <li data-target="#myCarousel" data-slide-to="5" class=""></li>
        <li data-target="#myCarousel" data-slide-to="6" class=""></li>
        <li data-target="#myCarousel" data-slide-to="7" class=""></li>
        <li data-target="#myCarousel" data-slide-to="8" class=""></li>
        <li data-target="#myCarousel" data-slide-to="9" class=""></li>
        <li data-target="#myCarousel" data-slide-to="10" class=""></li>
        <li data-target="#myCarousel" data-slide-to="11" class=""></li>
        <li data-target="#myCarousel" data-slide-to="12" class=""></li>        
      </ol>
      <div class="carousel-inner">
        <!--从这复制 -->
        <div class="item active">
          <div style="height: 100%;"><img src="./img/1.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>Click Here to Get Source Code</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->
        
        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/2.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>Click Here to Get Source Code</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->
        
        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/3.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>Click Here to Get Source Code</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->
        
        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/4.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>Click Here to Get Source Code</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->
        
                
        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/5.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>Click Here to Get Source Code</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->
        
        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/6.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>Click Here to Get Source Code</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->
        
        
        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/7.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>Click Here to Get Source Code</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->
        
        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/8.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>Click Here to Get Source Code</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->
        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/9.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>Click Here to Get Source Code</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->
        
        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/10.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>Click Here to Get Source Code</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->

        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/11.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>Click Here to Get Source Code</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->

        <!--从这复制 -->
        <div class="item">
          <div style="height: 100%;"><img src="./img/12.jpg" alt="First slide"></div>
            <div class="container">
                  <div class="carousel-caption">
                        <h1>Click Here to Get Source Code</h1>
                  </div>
            </div>
        </div>
        <!-- 复制到这 -->

      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->
